@import url(https://fonts.googleapis.com/css?family=Fraunces:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=DM+Sans:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=DM+Mono:300,300italic,regular,italic,500,500italic);
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: 280px 1fr;
  grid-template-rows: 1fr auto; /*defines the height of each row on the parent:*/
  min-height: 100vh;
}

/*grid lines →  1          2
              ┌──────────┬──────────────┐  ← line 1
              │          │   content    │
              │ sidebar  │   (row 1)    │
              │          ├──────────────┤  ← line 2
              │ spans    │   footer     │
              │ 1 to -1  │   (row 2)    │
              └──────────┴──────────────┘  ← line 3 (-1)*/

.sidebar {
  font-family: "DM Sans", sans-serif;
  grid-row: 1 / -1; /* start at row 1, end at last row */
  background: hsl(35, 60%, 96%);
  color: hsl(33, 22%, 20%);
  padding: 20px 20px;
}

.sidebar-title {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid hsl(36, 22%, 86%);
}

#title-1 {
  font-family: "Fraunces", serif;
  font-weight: 400;
  font-style: italic;
  color: hsl(15, 74%, 41%);
}

#title-2 {
  font-family: "Fraunces", serif;
  font-weight: 600;
  color: hsl(33, 15%, 15%);
}

.sidebar li {
  list-style: none;
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
}

.service-active {
  background: white;
}

.sidebar span {
  margin-left: auto;
  background: hsl(15, 74%, 41%);
  color: white;
  padding: 2px 8px;
  font-size: 12px;
  border-radius: 50%;
}

.sidebar i {
  margin-left: 5px;
}

.local-weather {
  background: hsl(44, 84%, 75%);
  padding: 10px;
  border-radius: 10px;
}

.location {
  font-family: "DM Mono", sans-serif;
  text-transform: uppercase;
  color: hsl(33, 17%, 41%);
  font-size: 12px;
}

.temperature {
  font-family: "Fraunces", sans-serif;
  font-size: 35px;
}

.weather {
  color: hsl(33, 17%, 41%);
  font-size: 14px;
}
