@import url(https://fonts.googleapis.com/css?family=Fraunces:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=DM+Sans:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=DM+Mono:300,300italic,regular,italic,500,500italic);
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: 280px 1fr;
  grid-template-rows: 1fr auto; /*defines the height of each row on the parent:*/
  min-height: 100vh;
}

/*grid lines →  1          2
              ┌──────────┬──────────────┐  ← line 1
              │          │   content    │
              │ sidebar  │   (row 1)    │
              │          ├──────────────┤  ← line 2
              │ spans    │   footer     │
              │ 1 to -1  │   (row 2)    │
              └──────────┴──────────────┘  ← line 3 (-1)*/

.sidebar {
  font-family: "DM Sans", sans-serif;
  grid-row: 1 / -1; /* start at row 1, end at last row */
  background: hsl(35, 60%, 96%);
  color: hsl(33, 22%, 20%);
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  border-right: 1px solid hsl(36, 22%, 86%);
}

.sidebar-title {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid hsl(36, 22%, 86%);
}

#title-1 {
  font-family: "Fraunces", serif;
  font-weight: 400;
  font-style: italic;
  color: hsl(15, 74%, 41%);
}

#title-2 {
  font-family: "Fraunces", serif;
  font-weight: 600;
  color: hsl(33, 15%, 15%);
}

.sidebar li {
  list-style: none;
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
}

.service-active {
  background: white;
}

.sidebar span {
  margin-left: auto;
  background: hsl(15, 74%, 41%);
  color: white;
  padding: 2px 8px;
  font-size: 12px;
  border-radius: 50%;
}

.sidebar i {
  margin-left: 5px;
}

.local-weather {
  background: hsl(44, 84%, 75%);
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 15px;
  margin-top: auto;
  position: relative;
  overflow: hidden;
}

.location {
  font-family: "DM Mono", sans-serif;
  text-transform: uppercase;
  color: hsl(33, 17%, 41%);
  font-size: 12px;
}

.temperature {
  font-family: "Fraunces", sans-serif;
  font-size: 35px;
}

.weather {
  color: hsl(33, 17%, 41%);
  font-size: 14px;
}

.sidebar-end {
  padding: 10px 0px;
  font-family: "DM Mono", sans-serif;
  border-top: dashed 1px hsl(36, 22%, 86%);
  color: hsl(33, 17%, 41%);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sun-shadow {
  background: hsl(42, 83%, 58%);
  height: 85px;
  width: 85px;
  border-radius: 50%;
  position: absolute;
  top: -28px;
  right: -17px;
  z-index: 0;
}

.sun {
  /*radial-gradient: like linear gradient but for circle*/
  background: radial-gradient(circle, hsl(44, 84%, 75%), hsl(42, 83%, 58%));
  height: 70px;
  width: 70px;
  border-radius: 50%;
  position: absolute;
  top: -20px;
  right: -1.5px;
  z-index: 1;
}

.content {
  background: hsl(35, 60%, 96%);
  grid-row: 1 / -1;
  padding: 50px;
  min-width: 900px;
}

.header {
  display: flex;
}

.greeting p {
  font-family: "DM Mono", sans-serif;
  text-transform: uppercase;
  color: hsl(33, 17%, 41%);
  letter-spacing: 3px;
}

.greeting h1 {
  font-family: "Fraunces", sans-serif;
  font-weight: 500;
  font-size: 50px;
}

.greeting span {
  font-style: italic;
  color: hsl(15, 74%, 41%);
}

.option {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  gap: 30px;
  margin-top: 15px;
}

.option-1 {
  border: solid 2px hsl(36, 22%, 86%);
  padding: 10px 20px;
  border-radius: 20px;
  font-family: "DM Sans", sans-serif;
  font-weight: 800;
}

.option-2 {
  background: black;
  padding: 10px 20px;
  border-radius: 20px;
  font-family: "DM Sans", sans-serif;
  font-weight: 800;
  color: white;
}

.booking-cards {
  background-color: white;
  border-radius: 20px;
  padding: 30px;
  width: 100%;
  max-width: 500px;
}

.receipt-header {
  display: flex;
  width: 100%;
  font-family: "DM Mono", sans-serif;
  color: hsl(33, 17%, 41%);
  padding-bottom: 25px;
  border-bottom: dashed 2px hsl(36, 22%, 86%);
}

#your-stay {
  font-family: "Fraunces", sans-serif;
  color: black;
  font-size: 30px;
}

#receipt-info {
  margin-left: auto;
}

#booking-date {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 25px 0px;
  font-family: "DM Mono", sans-serif;
  color: hsl(33, 17%, 41%);
  text-transform: uppercase;
  border-bottom: dashed 2px hsl(36, 22%, 86%);
  padding-bottom: 25px;
}

.check-in,
.check-out {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.date {
  text-transform: none;
  font-size: 50px;
  font-family: "Fraunces", sans-serif;
  color: black;
  margin: 10px 0px 5px;
}

.day-time {
  text-transform: none;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
}

.booking-info {
  display: flex;
  justify-content: space-between;
  font-family: "DM Sans", sans-serif;
  padding-bottom: 25px;
  border-bottom: solid 2px hsl(33, 17%, 41%);
}

.room-service {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.room-service :last-child {
  color: hsl(33, 17%, 41%);
}

.price {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.price :last-child {
  color: hsl(33, 17%, 41%);
}

.receipt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.total-method {
  display: flex;
  flex-direction: column;
  font-family: "DM Mono", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  gap: 50px;
}

.total-method :last-child {
  font-size: 15px;
  color: hsl(33, 17%, 41%);
}

.amount-barcode {
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}

.amount-barcode svg {
  width: 140px;
  height: auto;
}
